{% extends '@Inscription/layout.html.twig' %}

{% block content %}
    <div class="w3-container">
        <h2>Liste des parents</h2>
        <p>
            <input type="text" name="search" placeholder="Chercher.." oninput="w3.filterHTML('#id01', '.item', this.value)">
        </p>

        <table id="id01" class="w3-table-all w3-card-4">
            <thead>
                <tr class="w3-green">
                    <th onclick="sortTable(0)">Nom</th>
                    <th onclick="sortTable(1)">Prenom</th>
                    <th>Civilité</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Enfants</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for parent in parents if parent.activated %}
                <tr class="item">
                    <td>{{ parent.nom }}</td>
                    <td>{{ parent.prenom }}</td>
                    <td>{{ parent.civilite }}</td>
                    <td>{{ parent.telephone }}</td>
                    <td>{{ parent.addresse }}</td>
                    <td><span class="w3-badge w3-yellow "><a href="{{ path('parent_enfants',{'parent_id': parent.id}) }}"> {{ parent.enfants|length }} enfants</a></span></td></a>
                    <td>
                       {% if app.user.hasRole("ROLE_ADMIN") %}
                        <a href="{{ path('parent_delete', {'id':parent.id}) }}">
                            <span title="Supprimer" class="glyphicon glyphicon-trash"></span>
                        </a>
                        {% endif %}
                        <a class="various" data-fancybox-type="iframe" href="{{ path('parent_update', {'id':parent.id}) }}">
                            <span title="Modifier" class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="{{ path('parent_display', {'id':parent.id}) }}">
                            <span title="Voir" class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p style="margin-top: 10px">
            <a href="{{ path('parent_insc') }}" class="w3-button w3-blue">Ajouter un parent</a>
        </p>
    </div>

    {% block javascripts %}
        <script src="{{ asset('js/tab/sorttab.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".various").fancybox({
                    maxWidth	: 800,
                    maxHeight	: 600,
                    fitToView	: false,
                    width		: '70%',
                    height		: '70%',
                    autoSize	: false,
                    closeClick	: false,
                    openEffect	: 'none',
                    closeEffect	: 'none'
                });
            });
        </script>
    {% endblock %}
{% endblock %}
