{% extends '@Inscription/layout.html.twig' %}

{% block content %}
    <div class="w3-container">
        <table class="w3-table-all w3-card-4">
            <thead>
            <tr class="w3-green">
                <th>Nom</th><th>Prenom</th><th>Date Naissance</th><th>Sexe</th><th>Mensualité</th>
            </tr>
            </thead>
            <tbody>
            {% for eleve in eleves %}
                <tr style="text-align: center">
                    <td>{{ eleve.nom}}</td>
                    <td>{{ eleve.prenom }}</td>
                    <td>{{ eleve.dateNaissance|date('d/m/Y') }}</td>
                    <td>{{ eleve.genre }}</td>
                    <td>
                        <a class="various" data-fancybox-type="iframe" href="{{ path('mensualite_child', {'enfant_id':eleve.id}) }}">
                            <span title="Mensualité" class="glyphicon glyphicon-usd"></span>
                        </a>
                    </td>
                    {#<td>{{ eleve.mensualite ~ " UM"}}</td>#}
                    {#<td>{{ eleve.mois }}</td>#}
                    {#{% if eleve.paye %}#}
                        {#<td style="color: #66dd66"><span class="glyphicon glyphicon-ok-circle"></span></td>#}
                    {#{% else %}#}
                        {#<td style="color:red"><span class="glyphicon glyphicon-remove-circle"></span></td>#}
                    {#{% endif %}#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".various").fancybox({
                maxWidth	: 800,
                maxHeight	: 600,
                fitToView	: false,
                width		: '70%',
                height		: '70%',
                autoSize	: false,
                closeClick	: false,
                openEffect	: 'none',
                closeEffect	: 'none'
            });
        });
    </script>
{% endblock %}