{% extends '@Inscription/layout.html.twig' %}

{% block content %}
<div class="w3-container w3-margin-top">
    <table class="w3-table-all w3-card-4">
        <thead>
        <tr class="w3-green">
            <th>Classe</th><th>Descrition</th><th>Mensualité</th><th>Effectifs</th><th>Matières</th><th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for niveau in niveaux %}
            <tr style="text-align: center">
                <td>{{ niveau.classe}}</td>
                <td>{{ niveau.description }}</td>
                <td>{{ niveau.mensualite ~ " UM"}}</td>
                <td>
                    <span class="w3-badge w3-yellow">
                        <a href="{{ path('niveaux_eleves', {'classe':niveau.id}) }}"><span style="color: red">{{ render(controller('InscriptionBundle:Inscription:nbinscrits', {'classe': niveau.id})) }}</span><i class="material-icons">person</i></a>
                    </span>
                </td>
                <td>
                    <span class="w3-badge w3-yellow ">
                        <a href="{{ path('matieres', {'id':niveau.id}) }}">{{ niveau.matieres|length }} matières</a>
                    </span>
                </td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}