{% extends '@Inscription/layout.html.twig' %}

{% block content %}
    <div id="tabResutl">
<div class="w3-container w3-margin-top">
    <h1>La liste des inscrits</h1>
    <div class="row w3-bar well w3-padding-16" style="margin-left: -2px;">
        <div class="col-sm-4">
            <input oninput="w3.filterHTML('#id01', '.item', this.value)" placeholder="Chercher...">
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
          {{ render(controller('InscriptionBundle:Inscription:SelectParent')) }}
        </div>
    </div>
        <table class="w3-table-all w3-card-4" id="id01">
            <thead>
                <tr class="w3-green">
                    <th>Nom</th><th>Prenom</th></th><th>Classe</th><th>Inscription</th><th>Année</th><th>Inscrit le</th><th>Payer</th><th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for liste in listes %}
                    <tr class="item">
                        <td>{{ liste.nom|upper }}</td>
                        <td>{{ liste.prenom }}</td>
                        <td>{{ liste.classe }}</td>
                        <td>{{ liste.frais~" UM" }}</td>
                        <td>{{ liste.annee }}</td>
                        <td>{{ liste.createdAt|date('d/m/Y') }}</td>
                        {% if liste.paye %}
                            <td style="color: #66dd66"><span class="glyphicon glyphicon-ok-circle"></span></td>
                        {% else %}
                            <td style="color:red"><span class="glyphicon glyphicon-remove-circle"></span></td>
                        {% endif %}
                        <td>
                            <div class="w3-dropdown-hover">
                                <button class="btn btn-primary">action</button>
                                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                                    <a data-fancybox-type="iframe" href="{{ path('enfant_fiche', {'inscrit_id':liste.idInscrit}) }}" class="w3-bar-item w3-button various">Fiche</a>
                                    <a href="#" class="w3-bar-item w3-button">Mensualite</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    <div class="row w3-margin-top" id="register">
        <div class="col-sm-4">
            <a href="{{ path('parent_insc') }}"><button class="w3-button w3-block w3-blue" style="width:100%">Nouvelle inscription</button></a>
        </div>
    </div>
</div>
</div>

    {% block javascripts %}
        <script>
            $(function () {
                $(".various").fancybox({
                    maxWidth	: 800,
                    maxHeight	: 800,
                    fitToView	: false,
                    width		: '70%',
                    height		: '80%',
                    autoSize	: false,
                    closeClick	: false,
                    openEffect	: 'none',
                    closeEffect	: 'none'
                });

                $("#sel1").change(function (e) {
                    e.preventDefault();
                   var value = $(this).val();
                   $.get("{{ path('liste_inscrit') }}?parent_id="+value, function (data) {
                       $("body").html(data);
                   });
                    return false;
                });
            });
        </script>
    {% endblock %}
{% endblock %}
