{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
{{ form_errors(form) }}
<fieldset class="w3-margin"><legend class="w3-yellow w3-padding-small">Ajouter un enfant</legend>
    <div class="row"><div class="col-sm-6">{{ form_row(form.nom) }}</div>
        <div class="col-sm-6">{{ form_row(form.prenom) }}</div></div>
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.dateNaissance) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.genre) }}
        </div>
    </div>
</fieldset>
<div class="row">
    <div class="col-sm-12">
        <div class="w3-panel" style="width:100%">
            <button type="submit" class="w3-btn w3-block w3-blue">Suivant ></button>
        </div>
    </div>
</div>
{{ form_end(form) }}
