{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
{{ form_errors(form) }}
<fieldset class="w3-margin"><legend class="w3-gray w3-padding-small">Ajouter un enfant</legend>
    <div class="row"><div class="col-sm-6">{{ form_row(form.nom) }}</div>
        <div class="col-sm-6">{{ form_row(form.prenom) }}</div></div>
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.dateNaissance) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.genre) }}
        </div>
    </div>
</fieldset>
<div class="w3-bar">
    <button type="submit" class="w3-button w3-white w3-border">Ajouter</button>
    {#<button class="w3-button w3-red">Button</button>#}
</div>
{{ form_end(form) }}
