{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
{{ form_errors(form) }}

<fieldset class="w3-margin"><legend class="w3-yellow w3-padding-small">Enfant</legend>
    <div class="row">
        <div class="col-sm-6">{{ form_row(form.enfant.nom) }}</div>
        <div class="col-sm-6">{{ form_row(form.enfant.prenom) }}</div></div>
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.enfant.dateNaissance) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.enfant.genre) }}
        </div>
    </div>
</fieldset>

<fieldset class="w3-margin"><legend class="w3-yellow w3-padding-small">Classe</legend>
    <div class="row">
        <div class="col-sm-12">{{ form_row(form.niveau) }}</div>
        {#<div class="col-sm-6">{{ form_row(form.niveau.mensualite) }}</div>#}
    </div>
   {# <div class="row">
        <div class="col-sm-12">{{ form_row(form.niveau.description) }}</div>
    </div>#}
</fieldset>

<fieldset class="w3-margin"><legend class="w3-yellow w3-padding-small">Frais Inscription</legend>
    <div class="row">
        <div class="col-sm-4">{{ form_row(form.annee) }}</div>
        <div class="col-sm-4">{{ form_row(form.frais) }}</div>
        <div class="col-sm-4">{{ form_row(form.paye) }}</div>
    </div>
</fieldset>
<div class="row">
    <div class="col-sm-6">
        <div class="w3-panel" style="width:100%">
            <a href="#"><button type="submit" class="w3-btn w3-block w3-red">< Retour</button></a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="w3-panel" style="width:100%">
            <button type="submit" class="w3-btn w3-block w3-blue">Suivant ></button>
        </div>
    </div>
</div>
{{ form_end(form) }}
