{% extends '@Inscription/layout.html.twig' %}

{% block content %}
    <div class="w3-container">
        <h5>Les enfants de <strong>{{ parent.prenom }} {{ parent.nom|upper }}</strong></h5>
        <table class="w3-table-all w3-card-4">
            <thead>
            <tr class="w3-green">
                <th>Nom</th><th>Prenom</th><th>Genre</th><th>Age</th><th>Classe</th><th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for enfant in enfants %}
                <tr>
                    <td>{{ enfant.nom }}</td>
                    <td>{{ enfant.prenom }}</td>
                    <td>{{ enfant.genre }}</td>
                    <td>{{ enfant.dateNaissance|age ~ " ans" }}</td>
                    <td>{{ enfant.classe }}</td>
                    <td>
                        <a href="{{ path('delete_enfant', {'enfant_id':enfant.id}) }}">
                            <span title="Supprimer" class="glyphicon glyphicon-trash"></span>
                        </a>
                        <a href="{{ path('modifier_enfant', {'enfant_id':enfant.id}) }}">
                            <span title="Modifier" class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="{{ path('inscription_fiche', {'enfant_id':enfant.id}) }}">
                            <span title="Fiche enfant" class="glyphicon glyphicon-file"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p style="margin-top: 10px">
            <a href="{{ path('ajout_enfant',{'parent_id':parent_id}) }}" class="w3-button w3-blue" id="addChild">Ajouter un enfant</a>
            <a href="{{ path('liste_parents') }}" class="w3-button w3-green"> Liste des parents</a>
        </p>
        <div id="formAddChild">

        </div>
    </div>
{% endblock %}
