{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
{{ form_errors(form) }}
<fieldset class="w3-margin"><legend class="w3-gray w3-padding-small"> Ajouter un parent</legend>
    <div class="row">
        <div class="col-sm-4">
            {{ form_row(form.nom) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.prenom) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.civilite) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            {{ form_row(form.telephone) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.fonction) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.addresse) }}
        </div>
    </div>
</fieldset>
{% set prototype_enfant = form.enfants.vars.prototype %}
<div id="prototype-enfant" class="prototype-enfant">
    <fieldset class="w3-margin"><legend class="w3-gray w3-padding-small">Ajouter un enfant</legend>
        <div class="row">
            <div class="col-sm-6">{{ form_widget(prototype_enfant.nom) }}</div>
            <div class="col-sm-6">{{ form_widget(prototype_enfant.prenom) }}</div>
        </div>
        <div class="row"><div class="col-sm-12">&nbsp;</div></div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_widget(prototype_enfant.dateNaissance) }}
            </div>
            <div class="col-sm-6">
                {{ form_widget(prototype_enfant.genre) }}
            </div>
        </div>
    </fieldset>
</div>
<div id="container-enfant">
    <div>
        <a href="#" id="add_enfant" class="btn btn-success">Ajouter un enfant</a>
    </div>
</div>
{#<div class="w3-bar">
    <button type="submit" class="w3-button w3-white w3-border">Ajouter</button>
    <a href="{{ path('liste_parents') }}" class="w3-button w3-white w3-border">Annuler</a>
    {#<button class="w3-button w3-red">Button</button>
</div>#}
{{ form_end(form) }}

{% block javascripts %}
    <script>
        $(function () {
            $('#add_enfant').on('click', function(event){
                event.preventDefault();
                event.stopPropagation();

                var $prototypeTome = $('#prototype-enfant').clone();
                $prototypeTome = $($prototypeTome.html().replace(/__name__/g, $('.prototype-enfant').length));

                var $linkDelete = $('<div><a href="#" class="btn btn-danger delete-tome">Supprimer</a></div>');
                $prototypeTome.append($linkDelete);

                $linkDelete.on('click', function(e){
                    e.preventDefault();
                    e.stopPropagation();

                    $prototypeTome.remove();
                });

                $('#container-enfant').prepend($prototypeTome);
            });

            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}